#body{
    background-color: #F5E9E2;
    margin:10px;
    width: 100%;
}

#title1 h1{
    color: #23001e;
    background-color: #AC7B84;
    border: 2px solid #563F1B;
    width: 50%;
    margin: auto;
    text-align: center;
}

#paragraph1{
    color: #23001e;
    background-color: #F5E9E2;
    border: 2px solid #563F1B;
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

#title2{
    color: #23001e;
    background-color: #AC7B84;
    border: 2px solid #563F1B;
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

#ingredients{
    color: #23001e;
    background-color:#F5E9E2;
    border: 2px solid #563F1B;
    width: 50%;
    margin: auto;
    margin-top: 20px;
}

#title3{
    color: #23001E;
    background-color: #AC7B84;
    border: 2px solid #563F1B;
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

#method{
    color: #23001E;
    background-color: #F5E9E2;
    border: 2px solid #563F1B;
    width: 50%;
    margin: auto;
    margin-top: 20px;
}

#image{
    border: 2px solid #563F1B;
    width: 300;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}