.card {
    color: antiquewhite;
    background-color: red;
    border: 2px solid black;
    width: 50%;
    margin: auto;
    border-radius: 10px;
}

#image {
   width: auto;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}

#content{
    text-align: center;
    padding: 5px;
}


ol{
    list-style-type: none;
    display: inline-flex;
}

nav ol li a{
    display: inline;
    padding: 40px;
    display: inline-flex;
    text-decoration: none;
}

nav ol li :hover{
    color:antiquewhite;
}


